.footer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 9999;
  bottom: 0;
}

.madeBy {
  font-size: 6px;
  font-weight: 700;
  color: #8C8C87;
}
