.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.firstSection {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.map {
  display: flex;
}

@media (max-width: 768px) {
  .container {
    height: 75vh;
    justify-content: flex-end;
    align-items: unset;
    padding: 16px;
  }

  .firstSection {
    flex-direction: column;
  }

  .map {
    display: none;
  }
}
