.footer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 2vh;
  bottom: 0;
  background-color: #403532;
}

.madeBy {
  font-size: 6px;
  font-weight: 700;
  color: #8C8C87;
}
