.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: fit-content;
  padding: 16px 0px;
  gap: 16px;
}

.enterprise {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 24px;
  margin-left: 24px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.enterpriseTitle {
  color: #eb4966;
  font-size: 60px;
  font-weight: 700;
}

.enterpriseSubtitle {
  color: #eb4966;
  font-size: 40px;
  font-weight: 700;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 24px !important;
  gap: 8px;
}

.buttonGroup {
  border-radius: unset !important;
  box-shadow: unset !important;
}

.button {
  width: fit-content;
  color: #F26D85;
}

.contactButton {
  width: fit-content;
  color: #F26D85;
}
