.card {
  width: 50%;
  margin-bottom: 2vh;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.formHeader {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
